/*.ncb
/*.suo
/*.user
Fizzler.Parser/*.aps
Fizzler.Parser/*.eto
Fizzler.Parser/*.user
Fizzler.Parser/[Bb]in
Fizzler.Parser/[Dd]ebug
Fizzler.Parser/[Rr]elease
Fizzler.Parser/obj
Fizzler.Tests/*.aps
Fizzler.Tests/*.eto
Fizzler.Tests/*.user
Fizzler.Tests/[Bb]in
Fizzler.Tests/[Dd]ebug
Fizzler.Tests/[Rr]elease
Fizzler.Tests/obj
/_ReSharper.*
