* text=auto !eol
/COPYING.LESSER.txt -text
/COPYING.txt -text
Common/SolutionInfo.cs -text
ConsoleFizzler/App.config -text
ConsoleFizzler/Command.cs -text
ConsoleFizzler/CommandLine.cs -text
ConsoleFizzler/ConsoleFizzler.csproj -text
ConsoleFizzler/ExplainCommand.cs -text
ConsoleFizzler/ICommand.cs -text
ConsoleFizzler/NameValueCollectionExtensions.cs -text
ConsoleFizzler/NodeOutputFormat.cs -text
ConsoleFizzler/Program.cs -text
ConsoleFizzler/Properties/AssemblyInfo.cs -text
ConsoleFizzler/SelectCommand.cs -text
ConsoleFizzler/StringExtensions.cs -text
/Fizzler.4.5.resharper -text
Fizzler.Sandbox/Fizzler.Sandbox.csproj -text
Fizzler.Sandbox/Properties/AssemblyInfo.cs -text
Fizzler.Sandbox/WinForms/ControlExtensions.cs -text
Fizzler.Sandbox/WinForms/ControlOps.cs -text
Fizzler.Sandbox/WinForms/ControlSelection.cs -text
Fizzler.Systems.HtmlAgilityPack/Fizzler.Systems.HtmlAgilityPack.csproj -text
Fizzler.Systems.HtmlAgilityPack/HtmlNodeExtensions.cs -text
Fizzler.Systems.HtmlAgilityPack/HtmlNodeOps.cs -text
Fizzler.Systems.HtmlAgilityPack/HtmlNodeSelection.cs -text
Fizzler.Systems.HtmlAgilityPack/Properties/AssemblyInfo.cs -text
Fizzler.Tests/App.config -text
Fizzler.Tests/AttributeSelectors.cs -text
Fizzler.Tests/ChildAndAdjacentSelectors.cs -text
Fizzler.Tests/ClassSelector.cs -text
Fizzler.Tests/ElementSelector.cs -text
Fizzler.Tests/Fizzler.Tests.csproj -text
Fizzler.Tests/HumanReadableSelectorGeneratorTests.cs -text
Fizzler.Tests/IDSelector.cs -text
Fizzler.Tests/MultipleSelectors.cs -text
Fizzler.Tests/NthChild.cs -text
Fizzler.Tests/Properties/AssemblyInfo.cs -text
Fizzler.Tests/PsuedoSelectors.cs -text
Fizzler.Tests/SelectorBaseTest.cs -text
Fizzler.Tests/SelectorTest.html -text
Fizzler.Tests/TokenTests.cs -text
Fizzler.Tests/TokenerTests.cs -text
/Fizzler.sln -text
Fizzler/Fizzler.csproj -text
Fizzler/Fizzler.snk -text
Fizzler/HumanReadableSelectorGenerator.cs -text
Fizzler/IElementOps.cs -text
Fizzler/ISelectorGenerator.cs -text
Fizzler/Parser.cs -text
Fizzler/Properties/AssemblyInfo.cs -text
Fizzler/Reader.cs -text
Fizzler/Selector.cs -text
Fizzler/SelectorGenerator.cs -text
Fizzler/SelectorGeneratorTee.cs -text
Fizzler/Token.cs -text
Fizzler/TokenKind.cs -text
Fizzler/Tokener.cs -text
Libs/BackLinq.dll -text
Libs/HtmlAgilityPack.dll -text
Libs/HtmlAgilityPack.pdb -text
Libs/nunit.framework.dll -text
NET-2.0/ExtensionAttribute.cs -text
NET-2.0/Fizzler.Systems.HtmlAgilityPack.csproj -text
NET-2.0/Fizzler.Tests.csproj -text
NET-2.0/Fizzler.csproj -text
VisualFizzler/ContentTypeExtensions.cs -text
VisualFizzler/CursorScope.cs -text
VisualFizzler/ISingletonScopeHelper.cs -text
VisualFizzler/MainForm.Designer.cs -text
VisualFizzler/MainForm.cs -text
VisualFizzler/MainForm.resx -text
VisualFizzler/Program.cs -text
VisualFizzler/Properties/AssemblyInfo.cs -text
VisualFizzler/Properties/Resources.Designer.cs -text
VisualFizzler/Properties/Resources.resx -text
VisualFizzler/Properties/Settings.Designer.cs -text
VisualFizzler/Properties/Settings.settings -text
VisualFizzler/SingletonScope.cs -text
VisualFizzler/VisualFizzler.csproj -text
/build.cmd -text
/buildw.cmd -text
/default.build -text
