* text=auto !eol
/Fizzle.vsmdi -text
Fizzler.Parser/ChunkType.cs -text
Fizzler.Parser/Extensions/HtmlNodeCollectionExtensions.cs -text
Fizzler.Parser/Extensions/HtmlNodeListExtensions.cs -text
Fizzler.Parser/Fizzler.Parser.csproj -text
Fizzler.Parser/NodeMatcher.cs -text
Fizzler.Parser/Properties/AssemblyInfo.cs -text
Fizzler.Parser/SelectorEngine.cs -text
Fizzler.Tests/ClassSelector.cs -text
Fizzler.Tests/Data/SelectorTest.html -text
Fizzler.Tests/ElementSelector.cs -text
Fizzler.Tests/Fizzler.Tests.csproj -text
Fizzler.Tests/IDSelector.cs -text
Fizzler.Tests/Properties/AssemblyInfo.cs -text
Fizzler.Tests/SelectorBaseTest.cs -text
/Fizzler.sln -text
Libs/HtmlAgilityPack.dll -text
Libs/HtmlAgilityPack.pdb -text
/LocalTestRun.testrunconfig -text
