/*.ncb
/*.suo
/*.user
Fizzler.Net20/*.aps
Fizzler.Net20/*.eto
Fizzler.Net20/*.user
Fizzler.Net20/[Bb]in
Fizzler.Net20/[Dd]ebug
Fizzler.Net20/[Rr]elease
Fizzler.Net20/obj
Fizzler.Systems.HtmlAgilityPack.Net20/*.aps
Fizzler.Systems.HtmlAgilityPack.Net20/*.eto
Fizzler.Systems.HtmlAgilityPack.Net20/*.user
Fizzler.Systems.HtmlAgilityPack.Net20/[Bb]in
Fizzler.Systems.HtmlAgilityPack.Net20/[Dd]ebug
Fizzler.Systems.HtmlAgilityPack.Net20/[Rr]elease
Fizzler.Systems.HtmlAgilityPack.Net20/obj
Fizzler.Systems.HtmlAgilityPack/*.aps
Fizzler.Systems.HtmlAgilityPack/*.eto
Fizzler.Systems.HtmlAgilityPack/*.user
Fizzler.Systems.HtmlAgilityPack/[Bb]in
Fizzler.Systems.HtmlAgilityPack/[Dd]ebug
Fizzler.Systems.HtmlAgilityPack/[Rr]elease
Fizzler.Systems.HtmlAgilityPack/obj
Fizzler.Systems.WinForms/bin
Fizzler.Systems.WinForms/obj
Fizzler.Tests.Net20/*.aps
Fizzler.Tests.Net20/*.eto
Fizzler.Tests.Net20/*.user
Fizzler.Tests.Net20/[Bb]in
Fizzler.Tests.Net20/[Dd]ebug
Fizzler.Tests.Net20/[Rr]elease
Fizzler.Tests.Net20/obj
Fizzler.Tests/*.aps
Fizzler.Tests/*.eto
Fizzler.Tests/*.user
Fizzler.Tests/[Bb]in
Fizzler.Tests/[Dd]ebug
Fizzler.Tests/[Rr]elease
Fizzler.Tests/obj
Fizzler/*.aps
Fizzler/*.eto
Fizzler/*.user
Fizzler/[Bb]in
Fizzler/[Dd]ebug
Fizzler/[Rr]elease
Fizzler/obj
/TestResults
VisualFizzler/bin
VisualFizzler/obj
/_ReSharper.*
/attic
