/*.cache
/*.ncb
/*.patch
/*.suo
/*.user
ConsoleFizzler/*.aps
ConsoleFizzler/*.eto
ConsoleFizzler/*.user
ConsoleFizzler/[Bb]in
ConsoleFizzler/[Dd]ebug
ConsoleFizzler/[Rr]elease
ConsoleFizzler/obj
Fizzler.Sandbox/bin
Fizzler.Sandbox/obj
Fizzler.Systems.HtmlAgilityPack/*.aps
Fizzler.Systems.HtmlAgilityPack/*.eto
Fizzler.Systems.HtmlAgilityPack/*.user
Fizzler.Systems.HtmlAgilityPack/[Bb]in
Fizzler.Systems.HtmlAgilityPack/[Dd]ebug
Fizzler.Systems.HtmlAgilityPack/[Rr]elease
Fizzler.Systems.HtmlAgilityPack/obj
Fizzler.Tests/*.aps
Fizzler.Tests/*.eto
Fizzler.Tests/*.user
Fizzler.Tests/[Bb]in
Fizzler.Tests/[Dd]ebug
Fizzler.Tests/[Rr]elease
Fizzler.Tests/obj
Fizzler/*.aps
Fizzler/*.eto
Fizzler/*.user
Fizzler/[Bb]in
Fizzler/[Dd]ebug
Fizzler/[Rr]elease
Fizzler/obj
NET-2.0/bin
NET-2.0/obj
/TestResults
VisualFizzler/bin
VisualFizzler/obj
/_ReSharper.*
/attic
/bin
